<div class="main">
    <img src="assets/svg/background-swirl.svg">
    <div class="title">Niek's glorious collection of games.</div>
    <div class="list">
        <app_button (clicked)="goTo('toe-tac-tic')" color="#00FF38">
            TOE-TAC-TIC
        </app_button>
        <app_button (clicked)="goTo('tettis')" color="#FF2E00">
            TETTIS
        </app_button>
        <app_button (clicked)="goTo('snek')" color="#00D1FF">
            SNEK
        </app_button>
    </div>
    <div class="title">Because fuck you :)</div>

</div>