.main {
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    /* or 92% */

    color: #FF006B;
    margin-top: 30px;
    max-width: 900px;
}
.sub {
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    /* or 92% */

    color: #FF006B;
    margin-top: 10px;
    padding-bottom: 150px;
}